@mixin flex-setting($flex, $justify, $align) {
  display:flex;
  justify-content: $justify;
  align-items: $align;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color:#333;
  @include flex-setting(flex, space-around, center);
}

// 마치 클래스처럼 여러번 할당할 수 있다. 변수와 달리 여러줄이 가능하다.
// -> 좀더 유연하게 할 수는 없는가? 

