* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > aside {
  background-color: rgb(255, 228, 192);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 10vw;
  height: 100vh;
}
#root > aside > div {
  width: 10vw;
  height: 70vh;
  border: 1px solid gray;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root > aside > div > div {
  border: 1px solid gray;
  width: 1vw;
  height: 1vh;
  margin-top: 10vh;
}
#root > main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
}
#root > main > header {
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root > main > header > .logo {
  width: 10vw;
  height: 3vh;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid gray;
}
#root > main > header > .logo > article {
  width: 10vw;
  height: 2vh;
  position: relative;
  left: 10vw;
  border: 1px solid gray;
}
#root > main > header > .login {
  background-color: rgb(237, 192, 255);
  margin-top: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 48vw;
  height: 20vh;
  border: 1px solid gray;
}
#root > main > header > .login > article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > main > header > .login > article > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 24vw;
  height: 4vh;
  border: 1px solid gray;
}
#root > main > header > .login > article > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 24vw;
  height: 4vh;
  border: 1px solid gray;
}
#root > main > header > .login > article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#root > main > header > .content {
  width: 48vw;
  height: 11vh;
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#root > main > header > .content > article {
  width: 48vw;
  height: 4vh;
  border: 1px solid gray;
}
#root > main > header > .content > article > article {
  width: 48vw;
  height: 4vh;
  position: relative;
  top: 4vh;
  border: 1px solid gray;
}
#root > main > footer {
  width: 90vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
}
#root > main > footer > .news {
  background-color: rgb(255, 254, 192);
  width: 48vw;
  height: 28vh;
  position: relative;
  z-index: 2;
}
#root > main > footer > .manu {
  background-color: rgb(192, 253, 255);
  width: 48vw;
  height: 17vh;
  bottom: 5vh;
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */