// 컬러셋
$col-1:#122023;
$col-2:#FFF7E1;
$col-3:#F7F9FA;
$col-4:#19CE60;
$col-5:#DAE1E6;

//flex-set
@mixin flex-set($-jusco, $-alit, $-fledi:row) {
  display:flex;
  justify-content: $-jusco;
  align-items: $-alit;
  flex-direction: $-fledi;
}

@mixin width-height($-width, $-height) {
  width:$-width;
  height:$-height;
}

// 리셋
* {margin:0; padding:0; box-sizing: border-box;}
ul {list-style-type: none;}

//임시구분선
#root * {
  border: 1px solid gray;
}

// 공통
// 루트
#root {
  @include width-height(100vw,100vh);
  @include flex-set(center, center);

  //좌측 바
  & > aside {
    background-color: rgb(255, 228, 192);
    @include flex-set(flex-start, flex-start, column);
    @include width-height(10vw, 100vh);
  }
  //main
  & > main {
    background-color: rgb(197, 255, 192);
    @include flex-set(flex-start, flex-start, column);
    @include width-height(90vw, 100vh);
    
    //헤더
    & > header {
      background-color: rgb(192, 246, 255);
      @include width-height(90vw, 60vh);
      @include flex-set(center, center, column);

      // 로고
      & > .logo {
      background-color: rgb(192, 207, 255);
      @include width-height(21vw, 3vh);
      margin-top:15vh;

      }

      // 로그인
      & > .login {
        background-color: rgb(237, 192, 255);
        @include width-height(48vw, 20vh);
        margin-top:4vh;
          
        //상단
        & > article {
          @include flex-set(center, center);
          @include width-height(48vw, 4vh);
        }
          //아이디로그인
          & > div:nth-child(1) {
          }
          
          //일회용 번호
          & > div:nth-child(2) {

          }

        //폼양식
        & > article {
          @include width-height(48vw, 16vh);
          position:relative;

        }
      }

      // 콘텐츠
      & > .content {
        background-color: rgb(255, 192, 192);
        @include width-height(48vw, 11vh);
        margin-top:3vh;

        //증시
        

        //날씨
      }
    }

    //하단
    & > footer {
      background-color: rgb(53, 46, 46);
      @include width-height(90vw, 40vh);
      @include flex-set(flex-start, center, column);

      // 뉴스
      & > .news {
        background-color: rgb(255, 254, 192);
        @include width-height(48vw, 28vh);
        margin-top:3vh;
      }

      // 하단메뉴
      & > .manu {
        background-color: rgb(192, 253, 255);
        @include width-height(48vw, 16vh);
        margin-top:3vh;
      }
    }
  }
}