/* Rectangle 1 */
position: absolute;
width: 428px;
height: 93px;
left: 0px;
top: 0px;

background-color: #2196F3;


/* Rectangle 2 */
position: absolute;
width: 428px;
height: 828px;
left: 0px;
top: 93px;
background-color-color: #FFFFFF;


/* Frame */
position: absolute;
width: 162.44px;
height: 19.84px;
left: 133px;
top: 50px;



/* Rectangle 20 */
position: absolute;
width: 428px;
height: 156px;
left: 0px;
top: 120px;

background-color: #F7F7F7;


/* Rectangle 3 */
position: absolute;
width: 428px;
height: 50px;
left: 0px;
top: 83px;

background-color: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);


/* Group 3 */
position: absolute;
width: 38px;
height: 19px;
left: 37px;
top: 50px;



/* Group 4 */
position: absolute;
width: 58px;
height: 20px;
left: 333px;
top: 49px;



/* Rectangle 14 */
position: absolute;
width: 428px;
height: 871px;
left: 0px;
top: 891px;

background-color: linear-gradient(180deg, #0073EE 0%, #2196F3 100%);
border-radius: 10px;


/* Rectangle 15 */
position: absolute;
width: 428px;
height: 871px;
left: 0px;
top: 1740px;

background-color: #FFFFFF;
border-radius: 10px;


/* ep:arrow-right-bold */
position: absolute;
width: 15px;
height: 15px;
left: 226px;
top: 1768px;

transform: rotate(90deg);


/* Group 29 */
position: absolute;
width: 381px;
height: 366px;
left: 32px;
top: 405px;



/* Group 31 */
position: absolute;
width: 189px;
height: 35px;
left: 120px;
top: 91px;



/* Group 30 */
position: absolute;
width: 138px;
height: 77px;
left: 35px;
top: 1238px;



/* K-Digital Training은 우리나라 디지털, 신기술 분야에서 핵심적인 역할을 담당할 인재를 양성하기 위해 고용노동부와 함께하는 훈련과정이며, ‘국민내일배움카드’만 발급받으면 정부의 전액 지원으로 무료 수강할 수 있습니다. */
position: absolute;
width: 320px;
height: 66px;
left: 36px;
top: 1327px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;



/* Group 32 */
position: absolute;
width: 365px;
height: 48px;
left: 55px;
top: 1429px;



/* Line 1 */
position: absolute;
width: 355px;
height: 0px;
left: 55px;
top: 1426px;

border: 1px solid #FEFEFE;


/* ep:arrow-right-bold */
position: absolute;
width: 15px;
height: 15px;
left: 210px;
top: 1524px;



/* eva:search-fill */
position: absolute;
width: 24px;
height: 24px;
left: 79px;
top: 1846px;



/* Don’t dwell on the past */
position: absolute;
width: 398px;
height: 205px;
left: 8px;
top: 2020px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 100%;
/* or 64px */

text-align: center;

color: #2196F3;



/* Group 41 */
position: absolute;
width: 486px;
height: 239px;
left: 37px;
top: 2282px;

filter: drop-shadow(4px 6px 33px rgba(0, 0, 0, 0.1));


/* Rectangle 17 */
position: absolute;
width: 33px;
height: 2px;
left: 229px;
top: 570px;

background-color: #CDCDCD;


/* Rectangle 19 */
position: absolute;
width: 10px;
height: 2px;
left: 179px;
top: 570px;

background-color: #CDCDCD;


/* Rectangle 18 */
position: absolute;
width: 115px;
height: 2px;
left: 273px;
top: 570px;

background-color: #CDCDCD;


/* Group 44 */
position: absolute;
width: 92px;
height: 90px;
left: 120px;
top: 157px;



/* Group 45 */
position: absolute;
width: 25px;
height: 5px;
left: 202px;
top: 719px;



/* Rectangle 21 */
position: absolute;
width: 429px;
height: 439px;
left: -1px;
top: 2650px;

background-color: #2196F3;


/* Frame */
position: absolute;
width: 224.85px;
height: 13.89px;
left: 101px;
top: 2674px;



/* Group 46 */
position: absolute;
width: 96px;
height: 20px;
left: 315px;
top: 2713px;



/* COMPANY INFORMATION */
position: absolute;
width: 124px;
height: 12px;
left: 23px;
top: 2754px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #FFFFFF;



/* Group 47 */
position: absolute;
width: 261px;
height: 12px;
left: 23px;
top: 2717px;



/* 대표자 : 피카츄 사업자등록번호 : 123-45-67890 통신판매업신고 : 1234-대전서구-2345호 학원등록번호 : 제 1234호 주소 : 대전광역시 서구 대덕대로 182, 오라클빌딩 3F, 10F 일부 */
position: absolute;
width: 211px;
height: 60px;
left: 37px;
top: 2771px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 12px;

color: #FFFFFF;



/* Line 2 */
position: absolute;
width: 389px;
height: 0px;
left: 22px;
top: 2747px;

border: 1px solid #004EA2;


/* Group 29 */
position: absolute;
width: 247px;
height: 74px;
