// 변수 선언
$justify-value : center;
$align-value : center;
$direction-value : column;

// 함수 선언
@mixin flex-setting($justify-function, $align-function, $direction-function:row) { 
  //flex-setting 함수의 매개변수 세 개를 선언, 
  //direction-function에 붙은 row 값은 디폴트값을 설정한 것임. 임의로 다른 값을 할당하지 않으면 자동적으로 할당됨. 
  display:flex; //변수를 사용하지 않고 직접 작성했음
  justify-content:$justify-function; //매개변수 할당
  align-items: $align-function; //매개변수 할당
  flex-direction: $direction-function; //매개변수 할당
}

//함수 할당
#root {
  width:100vw;
  height:100vh;
  background-color: #333;
  @include flex-setting($justify-value, $align-value);
}
//변수 두 개를 할당함
//주의: 변수와 매개변수 개념을 혼동하지 않아야 함 -> 자바스크립트나 파이썬이랑 똑같음 ㅠㅠ